@tailwind base;

/* Import Lato font family from Typekit because open source version is missing font weights. */
@import url("https://use.typekit.net/not7ezq.css");

@import "highlight.js/styles/stackoverflow-dark.css";

/* Start purging... */
@tailwind components;
/* Stop purging. */

@responsive {
  .text-shadow {
    text-shadow: 0 0 10px black;
  }
  .text-shadow-white {
    text-shadow: 0 0 10px white;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

body {
  @apply leading-9 text-lg;
  font-family: "Lato";
}

button:focus {
  @apply outline-none;
}

h1,
.prose h1 {
  @apply font-black leading-snug text-4xl md:text-5xl;
}
h2 {
  @apply font-extrabold text-3xl;
}
h3 {
  @apply font-extrabold text-2xl;
}

.prose a {
  @apply no-underline text-blue hover:text-blue-light;
}
.prose h2 {
  @apply text-2xl;
}
.prose h3 {
  @apply text-xl;
}
.prose p,
.prose ol,
.prose ul {
  @apply leading-9 text-lg;
}
.prose ul {
  @apply pl-2;
  list-style-type: ">";
}
.prose ul > li {
  @apply pl-2;
}
.prose ul > li::before {
  @apply hidden;
}
.prose ul > li::marker {
  @apply text-green;
}

/* Show disc for lists in Netlify CMS. */
.cms-editor-visual ul {
  @apply list-disc;
}

.block-desktop {
  @apply w-full mx-auto hidden lg:block;
}
.block-mobile {
  @apply w-full mx-auto lg:hidden;
}

.link-text-green a {
  @apply text-green;
}

/* Scroll offset for navigation anchors to avoid header from covering the anchor. */
#we::before,
#work::before,
#team::before,
#tech::before {
  content: "";
  @apply block -mt-32 h-32 invisible;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
